@media (max-width: 1750px) {
    html {
        font-size: 8px;
    }
}



@media (max-width: 1440px) {
    html {
        font-size: 6px;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 5px;
    }
}

@media (max-width: 992px) {
    html {
        font-size: 4px;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 3px;
    }
}

@media (max-width: 575.98px) {
    #root {
        height: auto;
    }

    html {
        font-size: 10px;
    }

    .main-img {
        display: none;
    }

    .main-page {
        padding: 6rem 3rem 3rem 3rem;
    }

    .info-block {
        width: 100%;
        padding: 0;
        border: none;
    }

    .logo-smaller {
        width: 17rem;
        height: 2.2rem;
    }

    .logo-header {
        margin-bottom: 7.5vh;
        width: 16.5rem;
        height: 4rem;
    }

    .welcome {
        font-size: 3.4rem;
        margin-bottom: 3vh;
    }

    .intro {
        font-size: 3.1rem;
        margin-bottom: 8vh;
    }

    .cards-block {
        flex-wrap: wrap;
        margin-bottom: 3rem;
    }

    .status-container {
        width: 100%;
        flex-wrap: wrap;
    }

    .status-block,
    .download-btn,
    .personal-info-block {
        width: 100%;
        flex-wrap: wrap;
    }

    .status-block,
    .download-btn {
        height: 14rem;
    }

    .download-btn {
        font-size: 3rem;
    }

    .download-img {
        width: 5.2rem;
        height: 5rem;
    }

    .status-img {
        width: 7.1rem;
        height: 7.1rem;
    }

    .status {
        font-size: 3rem;
    }

    .status-info {
        font-size: 2rem;
    }

    .peronal-info-heading {
        font-size: 3rem;
    }

    .personal-info-text {
        font-size: 2rem;
    }

    .status-container,
    .cards-block,
    .personal-info-block {
        height: auto;
    }

    .status-block,
    .personal-info-block,
    .download-btn {
        margin: 0;
        margin-bottom: 2rem;
    }

    .status-container {
        order: 1;
    }

    .personal-info-block {
        order: 2;
    }

    .download-btn {
        order: 3;
    }

    .footer {
        flex-direction: column;
    }

    .terms {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6rem;
    }

    .terms-link {
        margin: 0;
    }

    .languages {
        justify-content: space-between;
        padding-bottom: 3rem;
    }
}